*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3;
}

/* Main */
main{
  width: 70%;
  margin: auto;
}
.contact-div{
  text-align: center;
  width: 50%;
  margin: 2.5rem auto;
}
.contact-div h1{
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
}
.contact-details div{
  margin: 1rem 1rem 0 0;
  display: flex;
}
.telephone i{
  transform: rotate(90deg);
}
i{
  margin-right: .5rem;
  color: #3e3e3e !important;
  font-size: larger;
}
.container{
  display: flex;
  justify-content: space-around;
  margin: 4rem 0;
}
form{
  width: 50%;
}
input,textarea{
  width: -webkit-fill-available;
  margin: 0.25rem 0;
  padding: 0.5rem;
  border: solid 1px #bdbcbc;
  outline: 0;
  /* border-radius: .25rem  ; */
}
textarea{
  height: 170px;
}
input:focus-within,textarea:focus-within{
  /* border: 1px solid #9d9d9d; */
  border: 1px solid black;
}

@media (max-width: 850px){
  nav ul{
    display: none;
  }
  .mobile-nav ul{
    display: flex;
    flex-direction: column;
  }
  .display-none{
    display: flex;
  }
  .contact-div{
    width: 80%;
  }
  main{
    width: 80%;
  }
  .container{
    flex-direction: column-reverse;
  }
  form{
    width: 100%;
    margin: auto;
  }
  .contact-details{
    margin: 1rem 0;
  }
}


@media(max-width: 500px){
  main{
    width: 90%;
  }
  .contact-div{
    width: 100%;
    margin: 1rem 0;
  }
  .container{
    margin: 2rem 0 0;
  }

}