/* Body */
*{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3;
}
body{
  font-weight: 400;
  position: relative;
}
a{
  color: initial;
  text-decoration: none;
}

nav{
  display: flex;
  padding: 20px 5%;
  justify-content: space-between;
}
nav a {
  margin: auto 0;
}
.logo{
  width: 100px;
}
nav ul{
  display: flex;
}
nav ul li{
  margin: auto .5rem;
  list-style: none;
}
nav ul a{
  border-bottom: 2px solid transparent;
  padding: .5rem 1rem;
  /* margin: auto .5rem; */
  display: block;
}
.sign-up-btn,button{
  /* background-color: #ffae2e; */
  background-color: #3ab1fd;
  color: white !important;
  cursor: pointer;
  border-radius: .25rem;
}
nav ul a:hover,.active{
  border-bottom: 2px solid #3ab1fd;
}
button{
  border: 0;
  outline: 0;
  padding: .75rem 2.5rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 0;
  margin: 1rem 0;
}
button:hover,.sign-up-btn:hover{
  box-shadow: 0 0 10px 0px #9f9f9f9e;
}

/* Mobile Navigation */
.mobile-nav-hamburger{
  width: 35px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  margin-right: 0;
  cursor: pointer;
}

.mobile-nav-hamburger div{
  border-top: 2px solid;
  /* margin: 5px 0; */
}
.line-2{
  width: 80%;
}
.display-none{
  display: none;
}
.mobile-nav{
  background-color: rgb(0,0,0,0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: none;
}
.mobile-nav div{
  width: 70%;
  background-color: #f2f2f2;
  position: fixed;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: linear 1s all;
  /* justify-content: space-between; */
}
.mobile-nav ul{
  justify-content: space-between;
  /* padding: 1rem; */
}
.mobile-nav li{
  margin: .75rem 0;
  border-bottom: 1px solid #f9f9f9;
}
.mobile-nav a{
  padding: .5rem 1rem;
}

.mobile-nav a:hover{
  border-bottom: 2px solid transparent;
}
.mobile-nav img{
  object-fit: contain;
  width: 50%;
  margin: auto;
}
#closeBtn{
  font-size: 60px;
  text-align: right;
  margin-right: 5%;
  font-weight: 100;
}